
{% include 'includes/settings.html.twig' %}

<section id="team" id="team" class="{% if pimcore_checkbox('background').isChecked() %} about section-bg my-4 pb-5 {% else%} skills pb-5 {% endif %}">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="section-title">
            {% if editmode %}
                <h3>{{ pimcore_input("title") }}</h3>
                <h3>{{ pimcore_input("subtitle") }}</h3>
                <p>{{ pimcore_input("text") }}</p>
            {% else %}
                <h2>{{ pimcore_input("title").render }}</h2>
                <h3>{{ pimcore_input("subtitle").render }}</h3>
                <p>{{ pimcore_input("text").render }}</p>
            {% endif %}
        </div>
        <div class="row">
            {% for team in teams %}
                {% set thumbnail = team.image.getThumbnail("card") %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" >
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="{{ thumbnail }}" alt="card image"></p>
                                        <h4 class="card-title fst-italic">{{ team.name }}</h4>
                                        <p class="card-text text-uppercase fw-bolder">{{ team.poste }}</p>
                                        <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">{{ team.name }}</h4>
                                        <p class="card-text">{{ team.citate }}</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                    <i class="bi bi-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                    <i class="bi bi-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                    <i class="bi bi-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                    <i class="bi bi-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>